.table {
    margin-top: 25px;
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
    color: #6a5d5d;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 1rem;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}